* {
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: indigo;
  margin-top: 0px;
  height: 100%;
  margin-bottom: 0px;
  min-width: 390px;
}

.layout {
  top: 0;
  /* display: flex;
    flex-direction: column; */
  bottom: 0;
}

header {
  background-color: blueviolet;
  color: cornflowerblue;
  padding-top: 10px;
  margin-top: 0px;
}

footer {
  background-color: rgb(58, 4, 109);
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  justify-content: center;
  gap: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  box-shadow: 2px 3px 3px rgb(39, 1, 65);
}

#subnav {
  background-color: rgb(81, 21, 160);
  margin-bottom: 5px;
  display: flex;
  max-width: auto;
}

a:any-link {
  text-decoration: none;
}

.random_joke {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-self: flex-start;
  align-self: flex-start;
  bottom: 5%;
  right: 1%;

  width: 300px;
  isolation: isolate;
  max-width: 1000px;
}

.random_joke #joke_cont {
  border: 64px rgb(155, 134, 248) solid;
  border-width: 64px;
  border-style: solid;
  border-color: transparent;
  border-image-source: url("/framecool.png");
  border-image-slice: 64;
  border-image-repeat: round;
  background-color: indigo;
  border-radius: 200px;
  isolation: isolate;
}

#joke_title {
  font-size: 60px;
  margin-bottom: -10%;
  color: rgb(135, 146, 250);
  text-shadow: 3px 3px 2px midnightblue, -3px -3px 2px midnightblue;
  z-index: 5;
  font-family: "Are You Serious";
}

.uppskrift {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
}

.mealTitle {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
  word-break:break-all;
    overflow-wrap: break-word;
}

.categories {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  
  gap: 1.5rem;
  margin: 1rem auto 1rem;
  padding: 1rem;
  max-width: 1200px;
  
}

.meal_buttons {
  padding: 2rem;
}

.next_btn {
  background-color: rgb(124, 30, 190);
  border-radius: 100px;
  margin: 1rem;
  box-shadow: 1px 2px 0px rgb(39, 1, 65);
}

.byLetter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 0px 0px transparent;
}

.byCategory {
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 0px 0px transparent;
}

.btnLetter {
  background-color: rgb(86, 20, 139);
  color: rgb(159, 128, 189);
  border-radius: 50%;
  box-shadow: 1px 2px 0px rgb(39, 1, 65), 2px 2px 4px rgb(154, 54, 212) inset,
    -2px -2px 3px rgb(13, 0, 31) inset;
}

.btnLetter:hover {
  box-shadow: 0px 0px 5px aliceblue, -1px -2px 0px rgb(39, 1, 65),
    -2px -2px 4px rgb(154, 54, 212) inset, 2px 2px 3px rgb(13, 0, 31) inset;
}

.btnLetter:active {
  box-shadow: 0px 0px 5px aliceblue, -1px -2px 0px rgb(39, 1, 65),
    -2px -2px 4px rgb(154, 54, 212) inset, 2px 2px 3px rgb(13, 0, 31) inset;
  border-color: blue;
}

.mealImg {
  
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(39, 1, 65);
  gap: 1rem;
    width: 100%;
  height: auto;
  display: block;
}

.mealImg img {
  padding: 1rem;
  gap: 1rem;
  
}

.mealImg:hover {
  color: rgb(20, 164, 248);
  box-shadow: 0px 0px 20px cornflowerblue;
}

#vesenTitle {
  display: flex;
  flex-flow: column;

  top: 10%;
  left: 5%;
  position: fixed;
  transform: rotate(-5deg);
  font-size: 90px;
  font-family: "Are You Serious";
  color: rgb(123, 198, 241);
  background-image: linear-gradient(
    to bottom,
    rgb(123, 198, 241),
    rgb(123, 198, 241),
    rgb(84, 36, 255),
    rgb(123, 198, 241),
    rgb(84, 36, 255)
  );
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  text-shadow: 4px 4px 3px rgba(47, 0, 100, 0.801),
    -1px -1px 1px rgba(230, 230, 250, 0.527);
}
#vesenTitle:hover {
  text-shadow: 0px 0px 10px rgb(209, 174, 255);
}

#about {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.about_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 3rem;
  position: absolute;
  top: 10%;
}

#heim-main {
  display: flex;

  justify-self: center;
  align-items: center;

  position: absolute;
  top: 13%;
  gap: 2rem;
}

#search {
  padding: 1rem;
   display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.searchResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1.5rem;
  margin: 1rem auto 1rem;
  padding: 1rem;
  max-width: 1500px;
}

.searchResults img {
  border-radius: 25px;
  box-shadow: 5px 5px 3px rgb(39, 1, 65);
  width: 100%;
  height: auto;
  display: block;
}

#banancat {
  position: fixed;
  bottom: 1rem;
  left: 0%;
  z-index: 1;
}

#input {
  box-shadow: -2px -2px 0px rgb(39, 1, 65) lack;
}

#error404 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    blueviolet
  );
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

@media (max-width: 844px) {
  body {
    font-size: 0.8rem;
  }

  nav {
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 1rem;
  margin-top: 1rem;  
  margin-left: 0.5rem;  
  }

  #subnav {
    margin-top: 0;
  }

  #heim-main {
    position: static;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    max-width: 50vw;
  }

  #heim-main img {
    width: 70%;
    height: auto;
  }

  .uppskrift {
    margin: 0;
    
  }

  .categories,
  .searchResults {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .searchResults img {
    width: 50%;
  }

  .mealImg {
    width: 50%;
    align-items: center;
  }

  .btnLetter {
    width: 44px;
    height: 44px;
  }

  #vesenTitle {
    font-size: 40px;
    position: static;
    text-align: center;
    padding-bottom: 2rem;
  }

  .random_joke {
    display: none;
  }

  .about_all {
   position: static;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #about {
    width: 100%;
  }

  .mealTitle {
    font-size: 1rem; 
  }

  .uppskrift h1 {
    font-size:1.8rem;
    
    
    
  }
}
