body {
  display: grid;
  background-color: indigo;
  margin-top: 0px;
  height: 100%;
  margin-bottom: 0px;
}

.layout {
  top: 0;
  /* display: flex;
    flex-direction: column; */
  bottom: 0;
}

header {
  background-color: blueviolet;
  color: cornflowerblue;
  padding-top: 10px;
  margin-top: 0px;
  
}

footer {
  background-color: rgb(58, 4, 109);
  bottom: 0;
  position: fixed;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  justify-content: center;
  gap: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 0px; 
  box-shadow: 2px 2px 1px black;
}

#subnav {
  background-color: rgb(81, 21, 160);
  margin-bottom: 5px;
  
}

.random_joke {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-self: flex-start;
  align-self: flex-start;
  bottom: 5%;
  right: 1%;

  width: 300px;
  isolation: isolate;
}

.random_joke #joke_cont {
    border: 64px rgb(155, 134, 248) solid;
    border-width: 64px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url("/framecool.png");
    border-image-slice: 64;
    border-image-repeat: round;
    background-color: indigo;
    border-radius: 200px;
    isolation: isolate;
}

#joke_title {
    font-size: 60px;
    margin-bottom: -10%;
    color: rgb(135, 146, 250);
    text-shadow: 3px 3px 2px midnightblue, -3px -3px 2px midnightblue;
    z-index: 5;
    font-family: "Are You Serious";
}

.uppskrift {
  
 display: flex;
 flex-direction: column;
 margin-left: 20rem;
 margin-right: 20rem;
  padding: 1rem;
  gap: 1rem;
}

.categories {
  display: grid;
   grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
 
}

.meal_buttons {
  padding: 2rem;
}

.next_btn {
  color: deepskyblue;
  background-color: rgb(124, 30, 190);
  border-radius: 100px;
  margin: 1rem;
  box-shadow: 1px 2px 0px black;
}

.byLetter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 0px 0px transparent;
}

.byCategory {
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 0px 0px transparent;
}

.btnLetter {
  background-color: rgb(86, 20, 139);
  color: rgb(159, 128, 189);
  border-radius: 50%;
  box-shadow: 1px 2px 0px black;
}

.mealImg {

  width: 300px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  gap: 1rem;
}

.mealImg img {

  padding: 1rem;
  gap: 1rem;
}

.mealImg:hover {
  color: rgb(20, 164, 248);
}

#search {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

#vesenTitle {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  top: 10%;
  left: 5%;
  position: fixed;
  transform: rotate(-5deg);
  font-size: 80px;
  font-family: "Are You Serious";
  
}

#about {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.about_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 3rem;
  position: absolute;
  top: 10%;

}

#heim-main {
    display: flex;
    
    justify-self: center;
    align-items: center;
    
    position:absolute;
    top:13%;
    gap: 2rem;
    
}

#search {
  padding: 1rem;
}

.searchResults {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.searchResults img {
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}

#banancat {
  position:fixed;
  bottom: 1rem;
  left: 0%;
  z-index: 1;
}

#input {
  box-shadow: -2px -2px 0px black;
}

#error404 {
    background-image: linear-gradient(to right, red, orange, yellow,green, blue, blueviolet);
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
 
}