body {
  display: grid;
  background-color: indigo;
  margin-top: 0px;
  height: 100%;
  margin-bottom: 0px;
}

.layout {
  top: 0;
  /* display: flex;
    flex-direction: column; */
  bottom: 0;
}

header {
  background-color: blueviolet;
  color: cornflowerblue;
  padding-top: 10px;
  margin-top: 0px;
}

footer {
  background-color: rgb(58, 4, 109);
  bottom: 0;
  position: fixed;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  justify-content: center;
  gap: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.random_joke {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-self: flex-start;
  align-self: flex-start;
  bottom: 5%;
  right: 1%;

  width: 300px;
}

#joke_container {
    border: 64px rgb(155, 134, 248) solid ;
    border-image: url("framecool.png") 64 round;
    
}

#joke_title {
    font-size: 60px;
    margin-bottom: -10%;
    color: rgb(135, 146, 250);
    text-shadow: 3px 3px 2px midnightblue, -3px -3px 2px midnightblue;
    z-index: 5;
    font-family: "Are You Serious";
}

.uppskrift {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
}

.meal_buttons {
  padding: 2rem;
}

.next_btn {
  color: deepskyblue;
  background-color: rgb(124, 30, 190);
  border-radius: 100px;
  margin: 1rem;
}

.byLetter {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.byCategory {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btnLetter {
  background-color: rgb(86, 20, 139);
  color: rgb(159, 128, 189);
  border-radius: 50%;
}

.mealImg {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 500px;
}

.mealImg img {
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  flex-flow: column;
}

#search {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

#vesenTitle {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  top: 5%;
  left: 5%;
  position: fixed;
  transform: rotate(-5deg);
  font-size: 80px;
  font-family: "Are You Serious";
}

#about {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.about_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 3rem;
  position: absolute;
  top: 10%;

}

#heim-main {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    position:absolute;
    top:13%;
    
}