/* body {
    display: flex;
    align-self: center;
    justify-content: center;
} */

.classes {
  background-color: beige;
}

.recipe_card {
    background-color: yellow;
}

.container {
    color:rgb(187, 212, 250);
}

.instructions {
    max-width: 600px;
    display: flex;
    justify-self: center;
text-align:justify;    
padding-bottom: 3rem;
}

h3 {
    padding-top: 1rem;
}

.cardMealthumb{
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
}